
{% extends "base.html" %}

{% block content %}

  {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
.mySlides {display:none;}
</style>
<body>

<h2 class="w3-center"></h2>

<div class="w3-content w3-display-container">
    <div class="mySlides">{{ map|safe }}</div>
    <div class="mySlides">{{ map2|safe }}</div>
    <div class="mySlides">{{ map3|safe }}</div>


  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>



    <br>
    {{ bar |safe}}
    <br>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Province</td>
                <td>Infected</td>
                <td>Death</td>
                <td>Recovered</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for patient in patientList %}
                <tr>
                    <td>{{ patient.province }}</td>
                    <td>{{ patient.infected }}</td>
                    <td>{{ patient.death }}</td>
                    <td>{{ patient.recovered }}</td>
                    <td>
                        <a href="{% url 'patientUpdate' patient.id %}" class="btn text-secondary px-0">
                            <i class ="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'patientDelete' patient.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="patientAdd.html">
         <button type="submit" class="btn btn-success">Add Cases</button>
    </form>

{% endblock %}